<% provide(:title, "Faq") %>
<h1>FAQ</h1>
<p><strong>What’s a Online Race?</strong></p>
<p>Online race is like any other race, yet you could decide the route yourself. Your can run, jog wherever you want to, at a designated period, for a 5k, 10k or 21k! In addition, you will receive great rewards like T-shirt, race bib and when you finish the race, you can get your finisher’s medal as well as finisher's’ entitlement. And the best of all, you are joining thousands of people in this race and motivate millions to run via your creative course route and inspiring stories</p>
<p><strong>How to verify the timing? </strong></p>
<p>You could simply upload your 1) running selfies 2) running route proof (with any app) to your account page. And your results will be verified within 1 working days and you distance will be contributed to your team, either Team Alien or Team Commando. Please note that all results needs to be uploaded between 13 May 2016 00:00 to 15 May 2015 23:59.</p>
<p><strong>Can I walk the race? Do I have cut-off timing?</strong></p>
<p>For this online race, we do have cut-off for different categories, but the cut-off is rather generous. If you complete the race within your timing, you will be awarded with the finishers’ medal as well as the entitlements. </p>
<p><strong>Is there a difference between the 5k and 10k races?</strong></p>
<p>You get the same thrilling story in both races, although in the 10k version you may hear more incidental dialogue.</p>
<p><strong>Can I do both the 5k, 10k and 21K races?</strong></p>
<p>We do not recommend so as we would love to encourage more people to join the fun!</p>
<p><strong>How long does the shipping take? </strong></p>
<p>It takes approximately 3-5 working days, if you choose shipping as a choice for finisher's’ entitlement. 
</p>
