<% provide(:title, "Terms & Conditions") %>
<h1>TERMS AND CONDITIONS</h1>
<p>MISSION42 ONLINE RUN 2016 #MAYDAYABTTLE<br>
Conditions of Participation</p>
 
<p>NOTE: Please read and familiarise yourself with the following terms & conditions of participation ("Conditions") before proceeding with your registration.</p>
 
<p><strong>Terms & Conditions</strong></p>
 
<p>MISSION42 ONLINE RUN  2016 is organised by WANDERCAT PRIVATE LIMITED ( “Organiser”)  in accordance with these Rules and Regulations (the “R&Rs”) and all the terms and conditions (the “T&Cs”) applicable to the Participants, which can be found at www.MISSION42RUN.com (the “Official Website”).</p>
<p>By continuing to use the Organiser’s services, accessing any part of the website www.MISSION42RUN.com, registering for MISSION42 RACE, submitting information to the Organiser (including its related entities, as well as their respective agents’ and Emjay Enterprises Pte Ltd) whether for the purpose of registering for the MISSION42 RUN or otherwise, as well as using any features of the aforementioned website, you signify that you have read, understood and agree to be bound by the attached Privacy Policy (as amended from time to time) in respect of the Organiser’s collection, use and disclosure of your personal information. Further, you hereby expressly agree and consent to the Organiser’s (including its related entities, as well as their respective agents’ and Emjay Enterprises Pte Ltd), collection, use and disclosure of your personal information, in the manner set forth in the aforementioned Policy.</p>

<p>Completion of the online registration form confirms the Participant’s agreement to abide by the T&Cs, R&Rs and Race Indemnity Agreement of MISSION42 ONLINE 2016.</p>

<p><strong>Race Indemnity Agreement</strong></p>
<p>4.1.  ALL REGISTERED PARTICIPANTS SHALL ASSUME FULL RESPONSIBILITY FOR AND RISK OF BODILY INJURY, DEATH OR PROPERTY DAMAGE while competing and/or participating in the Event. All runners shall hereby recognise and understand that there are risks and dangers associated with participation in the Event that could cause severe bodily injury, disability and death. Further, the risks and dangers may be caused by the negligent failure to act of others. All of the risks and dangers associated with participating in the Event are assumed notwithstanding.</p>
 
<p>4.2.  All registered participants shall release, waive, discharge and covenant not to sue MISSION42 RUN Run, the Race Organiser, participants, officials, sponsors, advertisers, owners, lessees and lessors of the premises, used to conduct the Event and their officers, agents, and employees from all liability to ourselves, our personal representatives, assigns, executors, for any and all claims, demands, losses or damages of the participant on account of any injury, including, but not limited to the death or injury of the participant or damage to property.</p>
 
<p>4.3.  All registered participants hereby agree that this Race Indemnity Agreement extend to all acts of negligence by the policies set out herein, INCLUDING NEGLIGENT RESCUE OPERATIONS and is intended to be as broad and inclusive as is permitted by Singapore law in which the Event is conducted.</p>
 
<p>4.4.  All registered participants hereby agree that in the event of a race cancellation or postponement due to conditions beyond the control of MISSION42 RUN and the Race Organiser including but not limited to a storm, rain, inclement seas or weather, winds, or act of terrorism or other conditions, the participant’s registration fee shall be non-refundable and non-transferable.</p>
 
 
<p>4.5.  The Event may be a test of one's physical and mental limits and carries with it the possibility of death, serious injury, and/or property damage. All registered participants hereby acknowledge and agree that it is their responsibility to determine whether they are sufficiently fit and healthy to safely participate in the Event, and they attest and certify that they are or will be sufficiently fit and physically trained to participate in the Event which they elect to enter. Should any registered participant have a medical condition; they shall seek the advice of a licensed medical doctor who will verify that they are fit and able to participate in the Event.</p>

<p>4.6.All registered participants acknowledge and ASSUME ALL OF THE RISKS and aspects of the Event. Participants acknowledge that running during the Event has minimal risk and he/she understand that he/she will be participating in the Event at their own risk.  On behalf of all registered participants, executors, administrators, heirs, next of kin, successors and assigns, and anyone else who might sue on their behalf, participants HEREBY WAIVE, RELEASE, and FOREVER DISCHARGE, WANDERCAT Pte Ltd and/or its owners, MISSION42 Run 2016, all Event sponsors, Event producers, Event staff, administrators, officials, contractors, vendors, and organizers (including race directors), volunteers, all other persons or entities involved with the Event, cities, towns, and other governmental bodies and locations in which an Event or portions of an Event takes place, and the officers, directors, employees, agents, insurers, other participants and representatives of all of the above (collectively, the "Released Parties"), from any and all claims, causes of action, damages, losses (economic and non-economic), and liabilities of every kind (collectively "Claims"), for death, personal injury, or property damage, which may arise out of, result from, or relate to their participation in, or their traveling to or from, including but not limited to any Claims for theft, damage to any equipment, negligence, partial or permanent disability, Claims relating to the provision of first aid, medical care, medical treatment, or medical decisions (at an Event site or elsewhere), and any Claims for medical or hospital expenses.  All registered participants further understand that any injury or damages incurred may be the result of negligence, omission or carelessness by the Released Parties.</p>
 
<p>4.7.  All registered participants understand and acknowledge the dangers associated with the consumption of alcohol and/or drugs before, during and after the Event and recognise that consumption of alcohol and/or drugs might impair their judgment and/or motor skills.  They assume full responsibility for any death, injury, loss or damage (a) associated with the consumption of alcohol and/or drugs or (b) caused by, result or arising from or related to their participation in the Event.</p>

<p>5. The Organiser reserves the right to modify or substitute any of the R&Rs and/or T&Cs at its sole discretion and without prior notification.</p>
 
<p>If any provision of these Terms & Conditions shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms & Conditions and shall not affect the validity and enforceability of any remaining Policies.</p>
 
<p>These Terms & Conditions shall be governed by and construed in accordance with the laws of Singapore, and the parties irrevocably submit to the exclusive jurisdiction of the Singapore courts. </p>
 
<p><strong>Personal Data Protection Act (2012)</strong></p>
 
<p>From 2 July 2014, the Personal Data Protection Act (PDPA) will introduce certain changes to the way in which we may contact you for promotional and marketing messages. These changes will generally not affect informational and service-related messages sent by us (such as event updates and confirmation about events).</p>
 
<p>We aim to conduct our business in compliance with the requirements of the PDPA and respect your choices. Your information is collected for us to understand your needs better so that we can improve our services and also the way we communicate with you.</p>
 
<p>How is personal data collected? WANDERCAT Pte Ltd may collect your personal information when you:</p>
 
<ul>
	<li>Register for any events organised by WANDERCAT Pte Ltd</li>
	<li>Subscribe to our e-newsletters via 42RACE</li>
	<li>Contact us with an event or merchandise enquiry</li>
	<li>Participate in our contests, surveys, lucky draws and/or other promotional activities</li>
	<li>Visit our website</li>
	<li>Use of personal data</li>
</ul>
 
<p>WANDERCAT PTE LTD may use your information for the following:</p>
 
<ul> 
	<li>Process your online registration application</li>
	<li>Respond to enquiries and requests from you or people you have authorised</li>
	<li>Inform you about events updates or partners promotions</li>
	<li>Conduct market research and customer satisfaction surveys</li>
	<li>Provide updates, offers, invitations to events and deliver advertising messages via SMS / MMS, Email or your mailing address with your prior consent or if otherwise permitted under local laws and regulations</li>
	<li>Emergency situations arising from incidents/accidents occurring during participation of any WANDERCAT Pte Ltd events</li>
	<li>Protection of personal data</li>
 </ul>

<p>WANDERCAT Pte Ltd has implemented stringent measures to secure and protect your information. These include:</p>

<ul> 
	<li>Safeguards to prevent security breaches in our network and database systems</li>
	<li>Limits on access to information in our systems and the systems of our business partners and vendors</li>
	<li>Strict verification processes to prevent unauthorised access to information</li>
</ul>