<footer class="footer">
<div class="enquiry-hero">
<div class="container">
<div class="row">
  <div class="col-md-6">
  <p>Please send us your enquiries: <br>contact@42race.com</p>
  <p>For sponsorship enquiries, please contact us at: <br>contact@42race.com</p>
  <p>ALL RIGHTS RESERVED. © 2016 42RACE.</p>
  </div>
  <div class="col-md-6">
    <h1>Contact Us</h1>
    <li><%= link_to "Facebook", "https://www.facebook.com/42race" %></li>
    <li><%= link_to "FAQ", help_path %></li>
    <li><%= link_to "Terms & Conditions", help_path %></li>
  </div>
</div>
</div>
</div>
</footer>