<footer class="footer">
  <small>
    COMPRESSPORT FACEBOOK<br>
    42RACE FACEBOOK
  </small>
    <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><small>
  ©MISSION42ONLINERACE 2016 | ALL RIGHTS RESERVED</small>
</li>
    </ul>
  </nav>
</footer>